body {
  font-family: serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.malla-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 10px;
}

.columna-año {
  background-color: #faf1eb;
  border-radius: 8px;
  padding: 10px;
  width: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.columna-año h2 {
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.cuatrimestre {
  background-color: #d18ab6;
  border: 1px solid #a32e76;
  border-radius: 6px;
  padding: 10px;
}

.cuatrimestre h3 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.materia {
  padding: 6px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  background-color: #faf1eb;
}

.materia.basicas { background-color: #BBDEFB; }
.materia.exactas { background-color: #C8E6C9; }
.materia.biologicas { background-color: #FFE0B2; }

.materia.regularizada {
  filter: brightness(1.1);
}

.materia.aprobada {
  filter: brightness(0.7);
  text-decoration: line-through;
  opacity: 0.7;
}
